In [1]:
import numpy as np; import pandas as pd;
from sktime.transformers.series_to_series import FlatTransformer

In [2]:
X = pd.DataFrame({
    "dim_0": [
        pd.Series([np.nan, np.nan, 3, 3, np.nan, 2, 2, 3]),
        pd.Series([0, np.nan, np.nan, np.nan, np.nan, np.nan, 2, np.nan]),
        pd.Series([2, np.nan, np.nan, np.nan, 2, np.nan, 3, 1]),
        pd.Series([1, np.nan, np.nan, 3, np.nan, np.nan, 2, 0]),
    ]
})
X

                                               dim_0
0  0    NaN
1    NaN
2    3.0
3    3.0
4    NaN
5...
1  0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
5...
2  0    2.0
1    NaN
2    NaN
3    NaN
4    2.0
5...
3  0    1.0
1    NaN
2    NaN
3    3.0
4    NaN
5...

In [3]:
ft = FlatTransformer()
ft.fit_transform(X)

,dim_0,dim_0_nan_starts,dim_0_nan_lengths
0,0 NaN 1 NaN 2 3.0 3 3.0 4 NaN 5...,[0],[2]
1,0 0.0 1 NaN 2 NaN 3 NaN 4 NaN 5...,[1],[5]
2,0 2.0 1 NaN 2 NaN 3 NaN 4 2.0 5...,[1],[3]
3,0 1.0 1 NaN 2 NaN 3 3.0 4 NaN 5...,"[1, 4]","[2, 2]"

In [4]:
ft.starts

[array([0]), array([1]), array([1]), array([1, 4])]

In [5]:
ft.lengths

[array([2]), array([5]), array([3]), array([2, 2])]